body {
	margin: 0;
	padding: 0;

}

.container-body {
	padding: 20px;
	overflow: auto;
	background-image: url("/Users/JakeChaplin1/Desktop/UC_Berkeley_Bootcamp/Bootcamp_HW/Assignment_1/Basic-Portfolio/assets/images/concrete-texture.png");
	
}

header {

	background-color: white;
	padding: 10px;
	font-family: Georgia, Times, Times New Roman, serif;

}

#header-color {
	color: #4aaaa5;
	position: relative;
	left: 10px;
	font-family: Georgia, Times, Times New Roman, serif;
	z-index: 1;

}

#header-title {
	text-align: center;
	background-color: #4aaaa5;
	padding: 20px;
	width: 300px;
	overflow: auto;
	margin-bottom: -10px;
	margin-left: 170px;
	color: white;
}

#header-pad {
	background-color: #cccccc;
	padding: 1px;
	position: relative;
	top: 10px;
	z-index: 0;
	
}

section {
	background-color: white;
	width: 960px;
	padding: 40px;
	margin-top: 20px;
	
}

#content {
	
	width: 650px;
	overflow: auto;
	margin: 2%;
	float: left;

}

#content-pad {
	background-color: #dddddd;
	margin-left: 10px;
	margin-right: 10px;
	padding: 1.5px;
	
}

p {
	float: left;
	width: 50%;
	padding: 10px;
	font-size: 22px;
	color: #777777;

}

#connect {
	
	width: 270px;
	padding: 20px;
	margin: 2%;
	float: left;
	overflow: auto;
	
}

#connect-pad {
	background-color: #eeeeee;
	margin-left: 10px;
	margin-right: 10px;
	padding: 1.5px;
	margin-bottom: 20px;
	
}

.container-img {
	width: 25%;
	height: auto;
	float: left;
	padding: 10px;
	position: relative;
	top: 25px;

}

#connect-img {
	width: 80px;
	height: 80px;

}

#connect-img-2 {
	width: 85px;
	height: 85px;

}

.container-footer-pad {
	background-color: #4aaaa5;
	clear: all;
	padding: 4px;

}

footer {
	clear: both;
	background-color: #666666;
	text-align: center;
	padding: 20px;
	color: #bbbbbb;
	width: 100%;
	position: absolute;

}
